<div class="bootstrap-wrapper">
    <div class="container text-center" style="background-color: #fff0f6; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
      
        <!-- Admin Icon -->
        <div>
            <img src="/img/admin.png" alt="Admin Icon" style="width: 100px;" class="img-fluid mt">
        </div>
      
        <!-- Welcome Title -->
        <h1 style="color:rgb(79, 0, 113);font-weight: bold;">Welcome to Admin Portal</h1>
      
         <!-- User Profile Section -->
         <div class="profile-section">
            <img [src]="user.imagePath" alt="User Image" class="profile-image" *ngIf="user.imagePath">
            <div class="details">
                <p *ngIf="user" class="user-detail"><mat-icon class="user-icons">person</mat-icon><strong style="margin-left:10px; margin-right:5px;">Name: </strong> {{ user.name }}</p>
                <p *ngIf="user" class="user-details"><mat-icon class="user-icons">email</mat-icon> <strong style="margin-left:10px;margin-right:5px;">Email: </strong> {{ user.email }}</p>
                <p *ngIf="user" class="user-details"><mat-icon class="user-icons">cake</mat-icon> <strong style="margin-left:10px;margin-right:5px;">Age: </strong> {{ user.age }}</p>
                <p *ngIf="user" class="user-details"><mat-icon class="user-icons">wc</mat-icon> <strong style="margin-left:10px;margin-right:5px;">Gender: </strong> {{ user.gender }}</p>
                <p *ngIf="user" class="user-details"><mat-icon class="user-icons">verified_user</mat-icon> <strong style="margin-left:10px;margin-right:5px;">Role: </strong> {{ user.role }}</p>
                <p *ngIf="user" class="user-details"><mat-icon class="user-icons">description</mat-icon> <strong style="margin-left:10px;margin-right:5px;">Description: </strong> {{ user.description }}</p>
            </div>
        </div>

        
        <!-- Get User Button -->
        <button (click)="getUser()" class="btn btn-lg btn-custom mt" >
            <i class="fas fa-info-circle"></i> Get Details
        </button>
  
        <!-- Optional info or details about user below the button -->
        <p style="color: #2e0641; margin-top: 10px;">Click the button to retrieve user details</p>
    </div>
</div>