.bootstrap-wrapper {
    padding: 20px 0; /* Vertical padding for the wrapper */
    margin-top: 50px;
  }
  .container{
    background:transparent; 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  h1.display-4 {
    color: #e91e63; /* Magenta color for the title */
  }
  p.display-4 {
    margin: 20px 0;
    color: #e91e63; /* Magenta color for the title */
  }
  
  .btn-primary {
    background-color: #e91e63; /* Magenta color for login button */
    border-color: #d81b60; /* Darker shade for border */
  }
  
  .btn-danger {
    background-color: #f44336; /* Red color for logout button */
  }
  
  .btn-primary:hover {
    background-color: #d81b60; /* Darker on hover */
  }
  
  .btn-danger:hover {
    background-color: #c62828; /* Darker on hover */
  }
  